/*общие настройки*/

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}


/*menu*/

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}


/*main*/

.top_info {
    flex-grow: 1;
    padding-top: 115px;
    background-image: url(../img/img3.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 45%;
}

.info_title {
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    color: #1F3F68;
    padding-bottom: 32px;
    width: 40%;
}

.info_text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    width: 50%;
}

.top_button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}


/*card block*/

.what_title {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    padding-top: 69px;
    padding-bottom: 65px;
}

.card_title {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    padding-top: 50px;
    padding-bottom: 14px;
}

.card_box {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 44px 32px;
}

.top {
    height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.box {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.card_link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    padding-top: 29px;
    padding-bottom: 44px;
}

.project_title {
    width: 75%;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
}

.project_title_text {
    width: 75%;
    padding-bottom: 64px;
    text-align: center;
    margin: 0 auto;
}

.project__img {
    width: 100%;
}

.project__item {
    position: relative;
    flex-grow: 1;
}

.project__text {
    position: absolute;
    top: 64px;
    right: 64px;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;
}

.project__parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.project__item_margin {
    margin-right: 32px;
}

.project__text_mini {
    right: auto;
    left: 32px;
    top: 32px;
    text-align: left;
    position: absolute;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;
}


/*footer*/

.footer {
    background: #316099;
    padding-top: 91px;
    padding-bottom: 64px;
    margin-top: 112px;
}

.footer_top {
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_footer {
    width: 340px;
    text-align: left;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.text_footer {
    width: 40%;
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
}

.footer_button {
    background: #5A98D0;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 15px 60px;
    text-decoration: none;
    width: 220px;
}

.footer_info {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer_list {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 00.05em;
    color: #FFFFFF;
    flex-grow: 1;
    flex-basis: 33.33%;
    list-style-type: none;
    display: flex;
}

.text_all {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}


/*адаптивность*/

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }
    .top_info {
        background-position: right 228px;
    }
    .info_title {
        width: 100%;
    }
    .card_box {
        flex-direction: column;
        align-items: center;
    }
    .card {
        margin-bottom: 32px;
    }
    .footer_button {
        font-size: 16px;
        line-height: 26px;
        padding: 3 8px;
    }
    .footer_info {
        flex-direction: column;
    }
}

@media (max-width: 667px) {
    .top_info {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }
    .info_title {
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        text-align: center;
        width: 100%;
    }
    .info_text {
        width: 100%;
        text-align: center;
    }
    .top_button {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }
    .title_third {
        font-size: 24px;
        line-height: 28px;
    }
    .what-we-do {
        padding-top: 48px;
    }
    .card_box {
        padding-top: 32px;
    }
    .card {
        width: 80%;
    }
    .project__text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }
    .project__text_mini {
        left: 16px;
        font-size: 16px;
        line-height: 19px;
    }
    .project__parent {
        flex-direction: column;
        margin-top: 16px;
    }
    .project__item_margin {
        margin-right: 0;
        margin-bottom: 16px;
    }
    .footer_top {
        flex-direction: column;
        text-align: center;
    }
    .footer_text {
        width: 100%;
    }
    .footer_info {
        display: flex;
        justify-content: space-between;
        margin-top: 64px;
    }
    .footer_button {
        margin-top: 40px;
    }
    .footer_list {
        margin-bottom: 24px;
    }
}